.button {
  color: white !important;
  display: inline-block;
  zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
  /* display: inline; */
  vertical-align: baseline;
  margin: 0 2px;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font: 14px/100% Arial, Helvetica, sans-serif;
  padding: 0.5em 2em 0.55em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.button:hover {
  text-decoration: none;
}
.button:active {
  position: relative;
  top: 1px;
}

/* input styles */

.btn {
  color: white;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.25rem 1rem;
  border-radius: 4px;
  /* text-transform: uppercase; */
  font-weight: 500;
  border: none;
  margin-left: 0;

  outline-color: var(--primary-color) !important;
}

.btn[disabled] {
  cursor: not-allowed;
  color: white;
}

.btn.btn-toolbar {
  min-width: 4rem;
  height: 4rem;
  border-radius: 0;
  background-color: var(--bg-dark-color);
  padding: 0;
}

.btn.btn-toolbar:hover {
  background-color: var(--bg-dark-secondary-color);
}

.btn.btn-link {
  color: var(--text-primary);
  border: none;
  font-weight: inherit;
  background-color: inherit;
  padding: 0;
  min-width: 0;
  vertical-align: inherit;
  font-size: inherit;

  &:focus-visible,
  &:hover {
    --text-primary: var(--primary-color);
    text-decoration: underline;
  }
}

.btn.btn-success {
  background-color: var(--success-color);
}
.btn.btn-success:hover {
  background-color: var(--success-hover-color);
}
.btn.btn-success[disabled] {
  background-color: var(--success-hover-color);
}

.btn.btn-primary {
  background-color: var(--primary-color);
}
.btn.btn-primary:hover {
  background-color: var(--primary-muted-color);
}
.btn.btn-primary[disabled] {
  background-color: var(--primary-muted-color);
}

.btn.btn-warn {
  background-color: var(--warn-color);
}
.btn.btn-warn:hover {
  background-color: var(--warn-hover-color);
}
.btn.btn-warn[disabled] {
  background-color: var(--warn-hover-color);
}

.btn.btn-danger {
  background-color: var(--danger-color);
}
.btn.btn-danger:hover {
  background-color: var(--danger-hover-color);
}
.btn.btn-danger[disabled] {
  background-color: var(--danger-disabled-color);
}

.form-control,
.form-check-input,
.form-control,
.form-select {
  display: block;
  background-color: white;
  color: black;
  border: none;
  border-radius: 4px;
  padding: 4px;
  font-size: 1rem;
  box-sizing: border-box;
  outline-color: var(--primary-color) !important;
}

.form-control-actions {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: stretch;
  height: calc(100% - 0.5rem);
  margin: 0.25rem;

  & .btn {
  }
}

.table {
  &.table-bordered {
    border: 1px solid var(--primary-color);
    border-collapse: collapse;

    & th,
    & td {
      border: 1px solid var(--primary-color);
    }
  }

  & th,
  & td {
    padding: 0.25rem 0.5rem;
  }
}
